/** Estilos propios*/

.info-popup-key {
  color: #000000 !important;
  font-size: 10px !important;
  font-weight: bold;
  text-align: left;
  padding: 5px;
}

.info-popup-value {
  font-size: 10px !important;
  font-weight: normal;
  text-align: right;
  padding: 5px;
}

.info-table{
  background-color: #f4f4f4;
  width: 100% !important;
}


.m-areas > div.m-area > div.m-panel.m-gridinfo> button.m-panel-btn {
  display: none !important;
}

.m-areas > div.m-area > div.m-panel.m-gridinfo.collapsed > button.m-panel-btn {
  color:green !important;
}

.m-areas > div.m-area > div.m-panel.m-gridinfo.opened > button.m-panel-btn {
  color: #FFFFFF !important;
  background-color: green !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #86A10B;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}