/** Estilos propios*/

.info-popup-key {
  color: #000000 !important;
  font-size: 10px !important;
  font-weight: bold;
  text-align: left;
}

.info-popup-value {
  font-size: 10px !important;
  font-weight: normal;
  text-align: right;
}

.info-table{
  background-color: #f4f4f4;
  width: 200px !important;
}

.m-areas > div.m-area > div.m-panel.m-gridinfo.collapsed > button.m-panel-btn {
  color:green !important;
}

.m-areas > div.m-area > div.m-panel.m-gridinfo.opened > button.m-panel-btn {
  color: #FFFFFF !important;
  background-color: green !important;
}